<%#image_tag 'test.jpg' %>
<!-- <div id="phaser-example">
</div> -->
<div id="main-header"></div>
<div id="main-background"></div>
<div id="content">
  <div id="menu">
    <div id="main-menu-header">教师系统</div>
    <div id="main-menu">
      <div id="menu-tree">
        <div class="tree-base-header"></div>
        <div class="tree-base-body">
          <div class="tree-select active"></div>
          <div class="tree-select"></div>
          <div class="tree-select"></div>
          <div class="tree-select"></div>
          <div class="tree-select"></div>
        </div>
        <div class="tree-base-header"></div>
      </div>
      <div id="select-titles">
        <div class="select-title active">实验项目</div>
        <div class="select-title">新建实验</div>
        <div class="select-title">实验详情</div>
        <div class="select-title">实验报告</div>
        <div class="select-title">结果分析</div>
      </div>
    </div>
  </div>
  <div id="main-nav">
  </div>
</div>