// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#phaser-example{
  canvas{
    margin: 0 auto;
  }
}

#episode-list{
  margin-top: 48px;
}
.episode-select{
  width: 480px;
  height: 180px;
  background: -webkit-linear-gradient(top, #EEE,#CCC);
  margin: 0 auto 24px;
  border: solid 1px #BBB;
  border-radius: 8px;
  &:hover{
    cursor: pointer;
    background: -webkit-linear-gradient(top, #FFF,#EEE);
  }
}
.episode-description{
  width: 400px;
  margin: 0 auto;
  text-align: center;
  padding-top: 32px;
}
.ep-number{
  color: #233333;
  font-size: 30px;
  line-height: 30px;
  font-weight: 800;
}

.ep-title{
  color: #663333;
  line-height: 36px;
  margin-top: 12px;
  font-size: 36px;
  font-weight: 800;
}

.ep-brief{
  margin-top: 12px;
  font-size: 12px;
  font-style: italic;
}